@import "../UI/navigation.scss";

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;  
  &__wrapper {
    border: 1px solid black;
    border-radius: 10%;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 35%; 
    background-color: rgba(210, 195, 166, 0.7);
    box-shadow: 0px 5px 31px 21px rgba(70, 77, 57, 0.8);;

    .modifiedTodo {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid black;
      padding: 15px 30px;
      .modifiedTodo__text-flexBasis {
        flex-basis: 100%;
      }
    }
  }
}