@import "../UI/navigation.scss";

.todoHistory {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;  
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
    border: 1px solid black;
    border-radius: 10%;
    background-color: rgba(210, 195, 166, 0.7);
    box-shadow: 0px 5px 31px 21px rgba(70, 77, 57, 0.8);;
    .modifiedTodo {
      display: flex;
      flex-direction: column;
      border: 1px solid black;
      padding: 15px 30px;
      span {
        margin-bottom: 10px;
      }
      .modifiedTodo__text-flexBasis {
        flex-basis: 100%;
      }
    }
  }
}